.DS_Store
.thumbs.db
*.local.js
*.key
*.pem
*.p12
npm-debug.log
storage.rules

# Folders
node_modules
.firebase
functions
.vscode

# Quasar core related directories
.quasar
/dist
/quasar.config.*.temporary.compiled*

# local .env files
.env.local*
.env

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
