/* Quasar */
.on-top {
    margin-bottom: 8px;
}

.on-right {
    margin-left: 8px;
}

.on-bottom {
    margin-top: 8px;
}

.on-left {
    margin-right: 8px;
}

.text-subtle {
    color: #616161 !important;
}

.grecaptcha-badge {
    visibility: hidden;
}

.q-card__section--vert {
    padding: 8px;
}

.q-toolbar {
    position: relative;
    padding: 0 8px;
    min-height: 50px;
    width: 100%;
}